/*Less 2.0/CSS 3 Document*/
@font-face{
	font-family:'Minecraftia';
	src: url("@{fontPath}/minecraftia.ttf") format('truetype');
}

body{
	display:flex;
	height:100%;
	padding:0;
	margin:0;
	-webkit-font-smoothing: antialiased;
	font-family:sans-serif;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

header{
	display: flex;
	border-bottom: thin solid gray;
	flex: 0 0 40px;
	background-color:@headerBg;
	color:@headerColor;
	div.button
	{
		display: flex;
		flex: 0 1 auto;
		justify-content: center;
		align-content: center;

		width: 20px;
		padding: 5px 10px;

		background-color: @headerBtnBg;
		color: @headerBtnColor;
		font-weight: bolder;
		font-size: 20px;
		cursor: pointer;

		&.invisible{
			background:none;
		}
	}
	h1
	{
		flex: 1 1 auto;
		margin: 5px 0 0 0;
		padding: 0;
		text-align: center;
		font-family:'Minecraftia';
    	font-size: 20px;
	}
}

aside{
	flex: 1 1 auto;
	width:0px;
	display:flex;
	flex-direction:column;
	align-content:center;
	background-color: @asideBg;
	overflow:hidden;
	font-family:'Minecraftia';

	transition:width @menuOpenTime ease;

	&.open{
		width: 425px;
		
	}

	nav{
		flex: 1 1 auto;
		ul{
			padding:0;
			flex: 1 1 auto;
			list-style:none;
			li{
				display:flex;
			
				color:@asideColor;
				text-shadow: 1px 1px 0px black;

				border-top:1px solid lighten(@asideBg, 10%);
				border-bottom:1px solid darken(@asideBg, 10%);

				& span:first-child{
					display: flex;

					flex: 1 1 auto;
					padding: 1.3em 1.3em 1.3em 1.3em;
					font-size: 1.1em;
				}
				& span.icon{
					display: flex;
					flex: 0 1 auto;
					font-size: 3em;
					margin: 0.2em 0.5em 0 0;
				}

				&:hover:not(.active){
					background-color: lighten(@asideBg, 5%);
				}

				&.active {
					box-shadow: 0 0 10px 0 black inset;
					& span:first-child{
						color:white;
						text-shadow: 0 0 40px lighten(@asideColor, 20%);
					}
				}
			}
		}
	}
}

div.loading{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

	width: 100%;
    height: 100%;

    background-color: rgba(125,125,125,0.6);
    z-index:99;
    &:after{
	    content: "L"; //content: "☕";
	    background-color: yellow;
	    font-size: 60px;
	    width: 100px;
	    height: 100px;
	    text-align: center;
	    border-radius: 50px;
	    padding-top: 3px;
	    color:#333;
    }
}
/*user info directive*/
user-info{
	margin: 20px;
    background-color: @userInfoBg;
    padding: 10px;
    border: thin solid @userInfoBorder;
    color: @userInfoColor;
    div.username{
    	color:@userInfoNameColor;
    	margin:10px 0;
    }
    div.logoutBtn{
	    border: thin solid @userInfoBorder;
	    text-align: center;
	    width: 50%;
	    margin: 0 auto;
	    cursor:pointer;
	    min-width: 75px;
    	overflow:hidden;

    }
    div.admin{
    	text-align: center;
		background-color: black;
		color: red;
		padding: 5px 0px;
		margin: 10px 0 0;
		border: thin solid red;
    	overflow:hidden;

    }
}

main{
	width:100%;
	height:100%;
    flex: 2 1 auto;

   	overflow:hidden;
}

.view{
	overflow-y: auto;
    height: 93%;
}

main > div > article{
	height: 100%;
    display: flex;
    flex-direction: column;
    color: @generalColor;
    background-color:@generalBg;
}

/*Shared*/
#judgement, #reminder, #person
{
	.application
	{
		flex: 1 1 auto;
		overflow-y:auto;
		.title
		{
			margin:0 20px;
			h1
			{
				text-align:center;
				margin-bottom: 0;
			}

			h2.email{
				text-align: center;
				word-wrap: break-word;
				font-size: 16px;
				font-weight: 100;
				color: fadeout(@generalColor, 50%);
				margin-top: 0;

			}

		}
		div.misc
		{
			display:flex;
			justify-content:center;
			align-items:center;
			flex-wrap:wrap;
			color:white;
			div
			{
				margin:10px;
				padding:5px;
				font-size: 20px;
				font-weight:bold;

				&.team
				{
					background-color:@team;
				}

				&.travel
				{
					background-color:@travel;
				}

				&.newbie
				{
					background-color: @newbie;
				}

				&.noadult
				{
					background-color: @noadult;
				}
			}
		}

		div.webs
		{
			flex:1 1 auto;
			display:flex;
			align-items:center;
			justify-content:center;
			margin-top:15px;

			img, div
			{
				flex:0;
				margin:0 10px;
				width:32px;
				opacity:0.4;
				&.active
				{
					cursor:pointer;
					opacity:1;
				}
			}

			div
			{
				font-size:25px;
				font-weight:bold;
				margin-left:0px;			
			}
		}

		table
		{
			max-width:700px;
			color:@generalColor;
			margin:0 auto;
			padding: 0 20px;
			th, td
			{
				padding-top:10px;

				&.near
				{
					padding:0;
				}

				&.centered
				{
					text-align:center;
				}
			}

			th
			{
				text-align:right;
				width:40%;

			}
		}
		div.face
		{
			text-align:center;
			margin:25px;
			font-weight: bold;
		}
	}

	.empty{
		flex:1 1 auto;
		display:flex;

		flex-direction:column;
		align-items: center;
		justify-content:center;

		text-align:center;

		h1{
			font-size:2em;
		}
		h2{
			font-size:0.9em;
			font-weight:normal;
		}
	}
}