/*COLORS*/
@menuColor: #222;
@menuColor2: #A97D5D;
@blocked: #dd514c;
@algorithm: #0e90d2;
@accepted: #5eb95e;

/*Paths*/
@imgPath: "../img";
@fontPath: "../font";

/*transitions*/
@transitionLength: 500ms;
@menuOpenTime: 500ms;

