#people
{
	max-height:90%;
	overflow-y:auto;
    ul
    {
	    flex: 1 1 auto;
	    background-color: white;
	    list-style: none;
	    padding: 0;
	    margin: 0;

	    li
	    {
    	    display: flex;
		    align-items: center;
		    border-top: thin solid #bbb;
		    border-bottom: thin solid #bbb;
			font-weight:bold;

			&:hover{
				background-color:#eee;
			}

			span{
				font-weight:normal;
			}
		    div.name
		    {
		    	padding-left:25px;
		    	flex: 3 1 auto;
		    	//make directive?
		    	.status
		    	{
		    	    flex: 1 1 auto;
				    display: flex;
				    justify-content: center;
		    	}
		    }
		    div.status-selector
		    {
		    	display:flex;
		    	flex:0 0 120px;
	    	    text-align: center;

			    div
			    {
			    	flex:1 1 auto;
			    	border: thin solid gray;
				    margin: 10px 3px;
				    border-radius: 5px;
				    padding: 5px 0;
				    cursor:pointer;
			    }

			    .blocked
			    {
			    	color:#777;
			    	
			    	background-color:indianred;
			    	&.selected{
			    		color:white;
			    		background-color:darkred;
			    	}	
			    }
			    .algorithm
			    {
			    	color:#777;

			    	background-color:lightblue;
			    	&.selected{
			    		color:white;
			    		background-color:dodgerblue;
			    	}
			    }
			    .accepted
			    {
			    	color:#777;
			    	background-color:lightgreen;
			    	&.selected{
			    		color:white;
			    		background-color:lime;
			    	}
			    }
		    }
	    }
    }


}