#person{
	/* See index.less for shared styles */
	.application
	{
		div.face
		{
			margin-bottom:70px;
		}
	}
	footer
	{
		position: absolute;
		bottom: 0;
		width: 100%;

	    &::before
	    {
			content: ' ';
			position: absolute;
			width: 100%;
			height: 30px;
			margin-top: -30px;
			background: linear-gradient(transparent,@generalBg);
	    }

		.status-selector{
			display:flex;
			text-align:center;
			div{
				padding: 10px 0;
				flex: 1 1 auto;

				color: fadeout(@footerColor, 50%);

				&.selected{
					color:@footerColor;				    
				}

				&.blocked
			    {
			    	background-color:lighten(@blocked, 30%);
			    	&.selected{
			    		background-color:@blocked;
			    	}	
			    }
			    &.algorithm
			    {

			    	background-color:lighten(@algorithm, 35%);
			    	&.selected{
			    		background-color:@algorithm;
			    	}
			    }
			    &.accepted
			    {
			    	background-color:lighten(@accepted, 30%);
			    	&.selected{
			    		background-color:@accepted;
			    	}
			    }
			}
		}
	}
}