<article id="judgement">
	<header>
		<div class="button" aside-menu-toggle="leftMenu" >&#9776;</div>
		<h1>{{$root.$route.current.name}}</h1>
		<div class="button" ng-click="goToLastRated()">&#9872;</div>
	</header>
	<div class="application" ng-if="current !== null">
		<h1>{{current.name}}</h1>
		<h2 class="email">{{current.email}}</h2>
		<div class="desc">{{person.best_language}}</div>
		<div class="desc">{{current.data.desc}}</div>
	</div>
	<footer class="judgementButtons">
		<div class="worse" ng-click="worse()">&#10005;</div>
		<div class="better" ng-click="better()">&#10003;</div>
	</footer>
	<div ng-if="current === null">
		<h1>No one in this list :/</h1>
	</div>
</article>