<article id="person">
	<header>
		<div class="button" ng-click="back()" >&lt;</div>
		<h1>{{$root.$route.current.name}}</h1>
	</header>
	<div ng-if="person === null || person === undefined">
		<h1>Oops! this person doesn't exist</h1>
		<h4>...I think</h4>
	</div>
	<div ng-if="person !== null && person !== undefined">
		<h1>{{person.name}}</h1>
		<h2>{{person.data.age}}</h2>
		<div>{{person.data.description}}</div>
		<footer>
			<div class="status-selector">
				<div class="blocked" ng-class="{'selected': (person.status == 'blocked')}" ng-click="changeStatus('blocked')">
					B
				</div>
				<div class="algorithm" ng-class="{'selected': (person.status == 'algorithm')}" ng-click="changeStatus('algorithm')">
					L
				</div>
				<div class="accepted" ng-class="{'selected': (person.status == 'accepted')}" ng-click="changeStatus('accepted')">
					A
				</div>
			</div>
		</footer>
	</div>
</article>